<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data['tab_title'][0] }}</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="font-family: monospace">
<main class="container relative mx-auto scroll-my-12 overflow-auto p-4 md:p-16 print:p-12">
    <section class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-6">
        <div class="flex items-center gap-x-3 align-baseline leading-none print:hidden">
            <a href="/"><h2 class="font-mono text-sm hover:underline">About</h2></a>
            |
            <a href="/writing"><h2 class="font-mono text-sm hover:underline">Writing</h2></a>
            |
            <a href="/readinglist"><h2 class="font-mono text-sm hover:underline">Reading list</h2></a>
        </div>
        <div class="flex items-center justify-between gap-x-10">
            <div class="flex-1 space-y-1.5">
                <h1 class="text-2xl font-bold">{{ data['name'][0] }}</h1>
                <p class="text-muted-foreground max-w-md text-pretty font-mono text-sm">{{ data['headline'][0] }}</p>

                <div class="text-muted-foreground flex gap-x-2 pt-1 font-mono text-sm print:hidden">
                
                <a href="mailto:{{ data['email'][0] }}" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-background hover:bg-accent hover:text-accent-foreground size-8"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail size-4"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg></a>
        
                <a href="{{ data['linkedin'][0] }}" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-background hover:bg-accent hover:text-accent-foreground size-8"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin size-4"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect width="4" height="12" x="2" y="9"></rect><circle cx="4" cy="4" r="2"></circle></svg></a>
            
                <a href="{{ data['twitter'][0] }}" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-background hover:bg-accent hover:text-accent-foreground size-8"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter size-4"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"></path></svg></a></div><div class="text-muted-foreground hidden flex-col gap-x-1 font-mono text-sm print:flex">
                <a href="mailto:{{ data['email'][0] }}"><span class="underline">{{ data['email'][0] }}</span></a>
            </div>
            </div>
            <img alt="My Headshot" loading="lazy" width="170" height="100" decoding="async" data-nimg="1" class="max-h-52 rounded-2xl" style="color:transparent" 
             src="{{ data['image_url'][0] }}">
        </div>
        <section class="flex min-h-0 flex-col gap-y-3">
            <h2 class="text-xl font-bold">About</h2>
            <p class="text-muted-foreground text-pretty font-mono text-sm">
                {{ data['intro'] | join(" ") }}
            </p>
        </section>
        
        <section class = "flex min-h-0 flex-col gap-y-3">
            <h2 class="text-xl font-bold">Skills</h2>
            <div class = "flex flex-wrap gap-1">
                {% for skill in data['skills'] %}
                <div class="inline-flex items-center rounded-md border px-2 py-0.5 text-xs font-semibold font-mono transition-colors focus:outline-none focus:ring-2 focus:ring-slate-800 focus:ring-offset-2 text-nowrap border-transparent bg-slate-800/80 text-white hover:bg-slate-800/60">
                    {{ skill | safe }}
                </div>
                {% endfor %}
            </div>

        </section>  

        <section class="flex min-h-0 flex-col gap-y-3">
            <h2 class="text-xl font-bold">Work Experience</h2>
            {% for work_experience in experience_htmls %}
                {{ work_experience | safe }}
            {% endfor %}
            </div>

        </section> 
     
    </main>
    
</body>
</html>